 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  padding: 1rem;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

form input {
  flex-basis: 75%;
}
form button {
  flex-basis: 20%;
  display: block;
}

form input , form button , button {
  padding: 1rem;
}

.btn-sort {
  width: 10rem;
  margin: 1rem auto;
  display: block;
}

section {
  width: 75%;
  margin: 2rem auto ;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}

section h3 {
  padding: .5rem;
  border: 1px dotted gray;
}